/**
 * I usually don't do this, add styles into a file, I prefer scope css stylesheets or even 
 * better, cssinjs, but this is a small application.
 * @author Jorge Alejandro Quiroz Serna <jakop.box@gmail.com>
 */

html, body, #root {
    min-height: 100%;
}
#root {
    min-height: 100vh;
}
.main-layout {
    background-color: #0e0e0e;
    min-height: 100vh;
}

.screen-wrapper {
    background-color: #151515;
    min-height: 100vh;
}


.artist-item, .album-item {
    width : 150px;
    height: 150px;
    margin-right : 30px;
    margin-left : 30px;
    margin-bottom: 20px;
    border-radius: 100%;
    background-color: rgb(80, 80, 80);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}


.album-item-wrapper {
    width : 160px;
    margin-right : 20px;
    margin-left : 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.album-item {
    display: inline-block;
    margin : 0;
}

.artist-item:before {
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    background-color: rgba(8, 8, 8, 0.48);
    position: absolute;
    border-radius: 100%;
}
.artist-item > p {
    color : #FFF;
    z-index: 1;
    text-align: center;
}
.album-item-wrapper > p {
    color: #FFF;
    z-index: 1;
    text-align: center;
    font-size: 0.6rem;
    padding-top: 20px;
}